@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}
<div class="container-fluid">

    <!-- Header: date, time -->
    <div class="header row">
        <div class="col-lg-10 date" id="date"></div>
        <div class="col-lg-2">
            <div class="time" id="time"></div>
            <div class="seconds" id="seconds"></div>
        </div>
    </div>

    @foreach (var item in Model.NextDays)
    {
    <div class="row">
        <!-- Day-Header + Events Colum -->
        <div class="col-lg-8">
            @if (item.Events.Length == 0)
            {
            <div class="day-header">@item.DisplayDate - keine Termine</div>
            }
            else 
            {
            <div class="day-header">@item.DisplayDate</div>
            @foreach (var ev in item.Events)
            {    
            <div class="event">
                @if (!string.IsNullOrWhiteSpace(ev.DisplayTime))
                {
                <div class="event-time">@ev.DisplayTime</div>
                }
                <div class="event-description">@ev.Summary</div>
            </div>
            }
            }
        </div>

        <!-- Weather Colum -->
        <div class="col-lg-4">
        @if (item.Weather != null)
        {
            <!--tempMax° ImageDay ImageNight
                tempMin°    ...       ...
                <br/>
                day description
            -->
            <img class="weatherIcon" src=@item.Weather.DayIconUri />
            <div class="temperatures">
                <div class="weatherDayTemp">@(item.Weather.TempMax)°C</div>
                <div class="weatherNightTemp">@(item.Weather.TempMin)°C</div>
            </div>
            <img class="weatherIcon" src=@item.Weather.NightIconUri />

            @if (item.Weather.IsToday)
            {
                <br style="clear:both; margin:5px" />
                <div class="weatherDay">@(item.Weather.DayDescription)</div>
                <div class="weatherNight">@(item.Weather.NightDescription)</div>
            }
        }
        </div>

        <!-- <img class="weatherIcon" src="images/50n.png" width="48" />
        <img class="weatherIcon" src="images/13n.png" width="48" />
        <img class="weatherIcon" src="images/11n.png" width="48" />
        <img class="weatherIcon" src="images/10n.png" width="48" />
        <img class="weatherIcon" src="images/09n.png" width="48" />
        <img class="weatherIcon" src="images/04n.png" width="48" />
        <img class="weatherIcon" src="images/03n.png" width="48" />
        <img class="weatherIcon" src="images/02n.png" width="48" />
        <img class="weatherIcon" src="images/01n.png" width="48" />

        <img class="weatherIcon" src="images/50d.png" width="48" />
        <img class="weatherIcon" src="images/13d.png" width="48" />
        <img class="weatherIcon" src="images/11d.png" width="48" />
        <img class="weatherIcon" src="images/10d.png" width="48" />
        <img class="weatherIcon" src="images/09d.png" width="48" />
        <img class="weatherIcon" src="images/04d.png" width="48" />
        <img class="weatherIcon" src="images/03d.png" width="48" />
        <img class="weatherIcon" src="images/02d.png" width="48" />
        <img class="weatherIcon" src="images/01d.png" width="48" /> -->

    </div><!-- end of row -->
}

<script>
    updateDateTime();
    function updateDateTime() {
        var now = new Date();
        document.getElementById("date").innerHTML    = now.toLocaleDateString("de-DE", {weekitem:'long', year:'numeric', month:'long', day:'numeric'});
        document.getElementById("time").innerHTML    = now.toLocaleTimeString("de-DE", {hour:'2-digit', minute:'2-digit'});
        var seconds = now.getSeconds();
        document.getElementById("seconds").innerHTML = (seconds<10?'0':'')+seconds;
    }
    setInterval(updateDateTime, 1000);
</script>
</div><!-- end Container Body-Content -->