@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}
<div class="container-fluid">
    @foreach (var item in Model.NextDays)
    {
    <div class="row">
        <!-- Header: date, time -->
        @if (item.IsToday)
        {
            <div class="col-lg-6 date" id="date"></div>
            <div class="col-lg-3">
                <div class="time" id="time"></div>
                <div class="seconds" id="seconds"></div>
            </div>
            <div class="col-lg-3">
                <div class="weatherDay">
                    <span>Tag:</span>
                    <span>@(Model.TodayWeatherDay)</span>
                </div>
                <div class="weatherNight">
                    <span>Nacht:</span>
                    <span>@(Model.TodayWeatherNight)</span>
                </div>
                <!-- <div class="weatherDay">@(Model.TodayWeatherDay)</div>
                <div class="weatherNight">@(Model.TodayWeatherNight)</div> -->
            </div>
        }

        <!-- Day-Header + Events Colum -->
        <div class="col-lg-9">
            <div class="day-header">@item.DisplayDate</div>
            @foreach (var ev in item.Events)
            {    
            <div class="event">
                @if (!string.IsNullOrWhiteSpace(ev.DisplayTime))
                {
                <div class="event-time">@ev.DisplayTime</div>
                }
                <div class="event-description">@ev.Summary</div>
            </div>
            }
        </div>

        <!-- Weather Colum -->
        <div class="col-lg-3">
        @if (item.Weather != null)
        {
            @if (string.IsNullOrWhiteSpace(item.Weather.DayIconUri))
            {
                <div class="weatherIcon">&nbsp;</div>
            }
            else
            {
                <img class="weatherIcon" src=@item.Weather.DayIconUri />
            }
            <div class="temperatures">
                <div class="weatherDayTemp">@(item.Weather.TempMax)°C</div>
                <div class="weatherNightTemp">@(item.Weather.TempMin)°C</div>
            </div>
            <img class="weatherIcon" src=@item.Weather.NightIconUri />
        }
        </div>

    </div><!-- end of row -->
}
</div>

<footer id="footer">
    <p>@Model.Background</p>
</footer>

<script>
    updateDateTime();
    function updateDateTime() {
        var now = new Date();
        document.getElementById("date").innerHTML    = now.toLocaleDateString("de-DE", {weekitem:'long', year:'numeric', month:'long', day:'numeric'});
        document.getElementById("time").innerHTML    = now.toLocaleTimeString("de-DE", {hour:'2-digit', minute:'2-digit'});
        var seconds = now.getSeconds();
        document.getElementById("seconds").innerHTML = (seconds<10?'0':'')+seconds;
    }
    setInterval(updateDateTime, 1000);
</script>